    <!--[if lt IE 7]>
    <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->
    <!-- This code is taken from http://twitter.github.com/bootstrap/examples/hero.html -->
    
    <!-- Loading Message -->
    <div class="spinnerbg">
    	<div id="spinner">
    		<span id="first" class="ball"></span>
    		<span id="second" class="ball"></span>
    		<span id="third" class="ball"></span>
    	</div>
    </div>

    <!-- /Loading Message -->

    <!-- Wrapper -->
    <div class="wrapper">
    	<!-- Scrollable -->
    	<div class="scrollable">
    		<!-- Webbu Tiles -->

    		<div class="webbutiles">
    			<a class="tile TWhite quadro-box image" href="">
    				<div class="boxContent">
    					<img src="/site/assets/files/1299/portadalliria.jpg" alt="-">
    				</div>
    				<div class="tilename">
    					<div class="name"></div>
    				</div>
    			</a>
    			<a class="tile TGreen double iconmain" href="">
    				<div class="boxContent">
    					<i class="icon-hand-right">
    					</i>
    				</div>
    				<div class="tilename">
    					<div class="name">Visita Guiada</div>
    				</div>
    			</a>
    			<a class="tile TFacebookBlue double iconmain" href="/cerca-de-mi/">
    				<div class="boxContent">
    					<i class="icon-map-marker">
    					</i>
    				</div>
    				<div class="tilename">
    					<div class="name">Cerca de mí</div>
    				</div>
    			</a>
    			<a class="tile TDarkPurple double iconmain" href="/lugares-de-interes/">
    				<div class="boxContent">
    					<i class="icon-eye-open">
    					</i>
    				</div>
    				<div class="tilename">
    					<div class="name">Lugares de Interés</div>
    				</div>
    			</a>
    			<a class="tile TLightRed double iconmain" href="">
    				<div class="boxContent">
    					<i class="icon-glass">
    					</i>
    				</div>
    				<div class="tilename">
    					<div class="name">¿Qué, dónde, cuándo?</div>
    				</div>
    			</a>
    			<a class="tile TOrange  iconmain" href="">
    				<div class="boxContent">
    					<i class="icon-rss">
    					</i>
    				</div>
    				<div class="tilename">
    					<div class="name">Noticias</div>
    				</div>
    			</a>
    			<a class="tile TLightPurple  iconmain" href="">
    				<div class="boxContent">
    					<i class="icon-envelope">
    					</i>
    				</div>
    				<div class="tilename">
    					<div class="name">Contacto</div>
    				</div>
    			</a>
    			<a class="tile TDarkBlue  iconmain" href="">
    				<div class="boxContent">
    					<i class="icon-phone">
    					</i>
    				</div>
    				<div class="tilename">
    					<div class="name">LLamar</div>
    				</div>
    			</a>
    			<a class="tile TBrown  iconmain" href="">
    				<div class="boxContent">
    					<i class="icon-film">
    					</i>
    				</div>
    				<div class="tilename">
    					<div class="name">Video</div>
    				</div>
    			</a>
    			<a class="tile TFacebookBlue double image" href="">
    				<div class="boxContent">
    					<img src="/site/assets/files/1291/snag-340103093658001.jpg" alt="-">
    				</div>
    				<div class="tilename">
    					<div class="name">¿Dónde estoy?</div>
    				</div>
    			</a>
    			<a class="tile TDribbblePink double iconmain" href="/rutas/">
    				<div class="boxContent">
    					<i class="icon-road">
    					</i>
    				</div>
    				<div class="tilename">
    					<div class="name">Rutas</div>
    				</div>
    			</a>
    		</div>

    		<!-- / Webbu Tiles -->
    	</div>
    	<!-- / Scrollable -->
    </div>
  <!-- / Wrapper -->